.new-appointment {
  align-items: center;
  background-color: darkseagreen;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  max-width: 95%;
  padding: 1rem;
  width: 50rem;
}
